.trustedBy {
  background-color: #fafafa;
  height: 100px;
  display: flex;
  justify-content: center;

  .container {
    max-width: 760px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(0, 0, 0);
    font-weight: 500;


    @media (max-width: 768px) {
    // Optional: use full width on mobile
    margin-bottom: 30px;
      flex-direction: column;
      align-items: center; // Optional: center items vertically
      
    }

    img{
      height: 30px;
      object-fit: contain;
    }
  }
}
