.featured {
  position: relative;
  color: white;
  background-color: rgb(242, 148, 46);
  text-align: center;

  .overlay {
    background: linear-gradient(to bottom,rgb(242, 148, 46));
    padding: 80px 20px;
    position: relative;
    z-index: 2;

    @media (min-width: 769px) {
      background: none;
      padding: 80px 20px;
    }
  }

  .backgroundVideo {
    display: none;

    @media (min-width: 769px) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
  }

  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 40px;
  }

  .searchBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    max-width: 600px;
    margin: 0 auto;

    .searchInput {
      border: none;
      padding: 15px;
      font-size: 1rem;
      flex: 1;
      outline: none;
      color: #555;
    }

    .searchButton {
      background-color: #000000;
      border: none;
      padding: 10px 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;

      .searchIcon {
        width: 24px;
        height: 24px;
        color: white;
      }
    }
  }

  .popular {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    button {
      background: white;
      color: #004225;
      border: none;
      padding: 10px 15px;
      border-radius: 30px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #f0f0f0;
      }
    }
  }

  @media (max-width: 768px) {
    .overlay {
      background: linear-gradient(to bottom, rgb(242, 148, 46));
      padding: 60px 15px;
    }

    .title {
      font-size: 1.8rem;
    }

    .searchBox {
      flex-direction: row;
      padding: 0;
      border-radius: 12px;
      border: 1px solid #004225;

      .searchInput {
        width: 100%;
        padding: 15px;
        font-size: 0.95rem;
        border: none;
        outline: none;
        color: #666;
        
      }

      .searchButton {
        width: auto;
        background-color: #004225;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin-right: 10px;
        

        .searchIcon {
          width: 15px;
          height: 15px;
          color: white;
        }
      }
    }

    .popular {
      flex-direction: column;
      align-items: center;

      button {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}
